<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}">Document</title>
        <div th:replace="/comunes/fragmentos.html :: head"></div>
    </head>
        <body>
            
            <header th:replace="/comunes/fragmentos.html :: header">   </header>
            <h2 th:text="${header}">title</h2>
            <table class="table">
                <thead>
                <th>Sigla</th>
                <th>Facultad</th>
                 <th colspan="2" > <a href="/docentes/nuevo" class="btn btn-primary">Nuevo </a></th>
  </thead>
  
         <tbody>       
             <tr th:each="d:${datos}"  >
             <td th:text="${d.lname}"></td>
             <td th:text="${d.fname}"></td>
             <td> <a class="btn btn-warning" th:href="@{/docentes/editar/}+${d.id}">Editar</a></td>
             <td><a class="btn btn-danger" th:href="@{/docentes/borrar/}+${d.id}">Borrar</a></td>
                   
             </tr>
         </tbody>       
                
            </table>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>