<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Facultad</title>
        <div th:replace="/comunes/fragmentos.html :: head"></div>
    </head>
        <body>
            <header th:replace="/comunes/fragmentos.html :: header">   </header>
            <h2 th:text="${title}+${dato.nombre}">title</h2>
            <div class="container">     
              <form method="post" th:action="@{/facultades/form}"  th:object="${dato}">
                  <input type="hidden" id="id"  th:field="*{id}"  > <br>
             <label for="name">Nombre:</label><br>
                <input class="form-control" type="text" id="nombre" name="nombre" th:field="*{nombre}" ><br>
                <label   for="sigla">Sigla:</label><br>
                <input class="form-control" type="text" id="sigla" name="sigla" th:field="*{sigla}"  ><br>
                <input class="btn btn-success"  type="submit" value="Enviar">
            </form> </div>    
    </body>
</html>