<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Facultad</title>
        <div th:replace="/comunes/fragmentos.html :: head"></div>
    </head>
        <body>
            <P th:text="${dato}"></p>   
                    <h1>Formulario de facultades</h1>
              <form method="post" th:action="@{/facultades/form}"  th:object="${dato}">
                  <input type="text" id="id"  th:field="*{id}"  > <br>
             <label for="name">Nombre:</label><br>
                <input class="form-control" type="text" id="nombre" name="nombre" th:field="*{nombre}" ><br>
                <label class="form-control"  for="sigla">Sigla:</label><br>
                <input type="text" id="sigla" name="sigla" th:field="*{sigla}"  ><br>
                <input class="btn btn-success"  type="submit" value="Enviar">
            </form>
    </body>
</html>