<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>

    <link th:href="@{/webjars/bootstrap/5.3.3-1/css/bootstrap.min.css}"  ></link>

    </head>
     <body>
         <div th:fragment="header">
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
<!--      <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">-->
      FacatApp
    </a>
  </div>
</nav>
         </div>
         
         
    </body>
</html>